In [1]:
import sqlite3
import pandas as pd

In [2]:
def hydat_gauge_info(
    connection: str, # sqlite3 file location
    station: str, # gauge code string
)-> pd.DataFrame:
    
    connection = sqlite3.connect(connection)
    station = ''
    # stations information
    df_info = pd.read_sql_query(f"SELECT * FROM STATIONS WHERE STATION_NUMBER LIKE '%{station}%'", connection)
    
    return df_info

In [3]:
hydat_gauge_info('/path/to/downloaded/Hydat.sqlite3', '01AA002')

,STATION_NUMBER,STATION_NAME,PROV_TERR_STATE_LOC,REGIONAL_OFFICE_ID,HYD_STATUS,SED_STATUS,LATITUDE,LONGITUDE,DRAINAGE_AREA_GROSS,DRAINAGE_AREA_EFFECT,RHBN,REAL_TIME,CONTRIBUTOR_ID,OPERATOR_ID,DATUM_ID
0,01AA002,DAAQUAM (RIVIERE) EN AVAL DE LA RIVIERE SHIDGEL,QC,6,D,None,46.557499,-70.081108,598.000000,NaN,0,0,740.0,740.0,405.0
1,01AD001,MADAWASKA (RIVIÈRE) À 6 KM EN AVAL DU BARRAGE ...,QC,6,D,None,47.548328,-68.636391,2690.000000,NaN,0,0,647.0,740.0,405.0
2,01AD002,SAINT JOHN RIVER AT FORT KENT,ME,7,A,None,47.258060,-68.595833,14700.000000,NaN,1,0,647.0,600.0,42.0
3,01AD003,ST. FRANCIS RIVER AT OUTLET OF GLASIER LAKE,NB,7,A,None,47.206612,-68.956940,1350.000000,NaN,1,1,647.0,647.0,10.0
4,01AD004,SAINT JOHN RIVER AT EDMUNDSTON,NB,7,A,None,47.360779,-68.324890,15500.000000,NaN,0,1,647.0,647.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7950,11AE018,POPLAR RIVER ABOVE BOLSTER CREEK,SK,8,D,None,49.103329,-106.019997,308.000000,NaN,0,0,323.0,323.0,NaN
7951,11AF001,WILLOW BUNCH LAKE NEAR VICEROY,SK,8,D,None,49.433331,-105.400002,NaN,578.000000,0,0,NaN,NaN,10.0
7952,11AF002,BIG MUDDY CREEK AT INTERNATIONAL BOUNDARY,SK,8,D,None,49.008331,-104.861107,88.599998,85.199997,0,0,NaN,NaN,NaN
7953,11AF004,BEAVER CREEK NEAR INTERNATIONAL BOUNDARY,MT,8,D,None,48.988892,-105.011108,458.000000,448.000000,0,0,NaN,NaN,NaN
7954,11AF005,BEAVER CREEK AT INTERNATIONAL BOUNDARY,SK,8,D,None,49.000000,-105.035004,387.000000,375.000000,0,0,647.0,647.0,10.0